/* Write your CSS here */
.container {
  background-color: #07080c;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image {
  height: 70%;
  width: 60%;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
}

.caption {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}

.accelerate-button {
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  padding: 5px;
  border-width: 0px;
  border-radius: 3px;
}

.apply-break-button {
  background-color: #07080c;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  padding: 5px;
  border-color: #ffffff;
  border-radius: 3px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
